callgrind.*
.*.swp
*.o
doc
/build
.vscode
.run
/host 
profile_* 
TempConfig 
system_estimate.xtxt
*.rpt
*.csv 
*.ll 
*v++*
.Xil 
emconfig.json
dltmp*
xmltmp*
*.log 
*.jou
*.wcfg
*.wdb
*.data
*.key
build_dir*
sd_card*
package.*
_x*
*xclbin.run_summary 
qemu-memory-_* 
emulation
_vimage 
pl*
start_simulation.sh 
*.xclbin
*.log